html
  head
    title Profile
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1.center Welcome, #{username}!
    p.center You have successfully logged in.
    a(href='/') Return Home
