html
  head
    title Profile
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    //- h1.center Welcome, #{username}!
    h2.center#welcome Welcome, #{username}!
    p.center
  a(href='/') Return Home |
  | &nbsp;|&nbsp;
  a(href='/logout') Logout


